@import url(https://fonts.googleapis.com/css?family=VT323);

$background-color: #000;
$color: #fff;
$base-unit: 1em;
$font-size: 28px;
$output-font-family: 'VT323';
$output-color: #18ff62;
$output-text-shadow: rgba(10, 255, 10, 0.8);
$output-line-height: 1.25;