@import "./variables";

/** Basic CSS Resets **/
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;
  font-size: $font-size;
  font-family: sans-serif;
  color: $color;
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/** Custom CSS **/
#root {
  width: 100%;
}

.App {
  display: flex;

  width: 100%;
  height: 100%;

  font-family: $output-font-family;
  background: $background-color;
  font-size: $font-size;
}

#terminal {
  margin: auto;
  width: 1000px;
  height: 100%;
  color: $output-color;
  text-shadow: $output-text-shadow;
  user-select: none;
}

.attempts {
  margin: 15px 0 15px;
  padding: 5px 0;
}

.attemptsLeft {
  vertical-align: middle;
}

.attempt {
  font-size: 21px;
  margin-left: 15px;
  vertical-align: middle;
}

.character:hover {
  background-color: $output-color;
  color: black;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sequences {
  display: flex;
  flex-direction: column;
}

.history {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 200px;
}
