@import "./variables";

/** Basic CSS Resets **/
body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;
  font-size: $font-size;
  font-family: sans-serif;
  color: $color;
  display: flex;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/** Custom CSS **/
#root {
  width: 100%;
}

.App {
  display: flex;

  width: 100%;
  height: 100%;

  font-family: $output-font-family;
  background: $background-color;
  font-size: $font-size;
}

#terminal {
  margin: auto;
  width: 1000px;
  height: 100%;
  color: $output-color;
  text-shadow: $output-text-shadow;
  user-select: none;
}

#terminal p {
  animation: blur 5s linear infinite, glow 1s linear infinite;
}

.header {
  line-height: 1;
}

.attempts {
  margin: 15px 0 15px;
  padding: 5px 0;
}

.attemptsLeft {
  vertical-align: middle;
}

.attempt {
  font-size: 21px;
  margin-left: 15px;
  vertical-align: middle;
}

.character:hover {
  background-color: $output-color;
  color: black;
}

@keyframes blur {
  50% {
    color: darken($output-color, 10%);
    text-shadow: 2px 0 2px lighten($output-text-shadow, 30%);
  }
}

@keyframes glow {
  50% {
    transform: scale(1.002);
  }
}
